* {
  background-color: pink;
  margin-left: 30px;
}

#userid {
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

#userpw {
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

#label_pwhint {
  margin-top: 5px;
  background-color: deeppink;
}

#label_introduce {
  margin-top: 5px;
  background-color: deeppink;
}

#pwhint {
  color: palevioletred;
}

#textarea {
  color: hotpink;
}

#submit_button {
  padding: 10px;
  background-color: deeppink;
  border-radius: 10px;
  font-size: 20px;
}
